{% extends "auctions/layout.html" %}
{% block body %}
    <img src="{{image_url}}" alt="image not found">
    <h3>{{title}}</h3>
    <h3>current_bid:{{current_bid}}</h3>
    <br>
    <form action="{% url 'view' pk=item.pk %}" method="post">
        {% csrf_token %}
        <input type="text" name="placed_bid">
        <br><br>
        <button type="submit" class="btn btn-primary">Place Bid:</button>
    </form>
    <br>
    <form action="{% url 'add_comment' pk=item.pk %}" method="post">
        {% csrf_token %}
        <textarea name="comment" id="a"></textarea>
        <br>
        <button type="submit" class="btn btn-primary">add_comment</button>
    </form>
    <br>
    <form action="{% url 'view_comments' pk=item.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">view_comments</button>
    </form>
    {% for comment in comments %}
        <h3>{{comment.comment}}</h3>
    {% endfor %}
    <h1>details:</h1>
    <ul>
        <li>Listed By:{{username}}</li>
        <li>category:{{category}}</li>
    </ul>
{% endblock %}